.main-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-inner {
  width: 100%;
  padding: 15px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 60px;
  height: 60px;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #f5e636e8;
  font-weight: 600;
  font-size: 16px;
}
.nav-menu a:hover {
  text-decoration: none;
  color: #67f8ffdb;
  font-weight: 600;
  font-size: 16px;
  transform: translateY(-5px);
}

.nav-menu a.active {
  color: #ffffff;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .menu-toggle {
    display: block;
    z-index: 1100;
    color: #6b7a3a;
  }

  .header-inner {
    padding: 15px 30px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;

    width: 250px;
    height: 80vh;

    background: #6b7a3a;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    display: flex;
  }

  .nav-menu.open {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    z-index: 1100;
    color: #c7f23a;
  }

  .header-inner {
    padding: 15px 20px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 80vh;

    background: #6b7a3a;
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    transition: right 0.35s ease-in-out;
    z-index: 1000;
  }

  .nav-menu.open {
    right: 0;
  }

  .nav-menu a {
    font-size: 20px;
    color: #f5e636e8;
  }

  .nav-menu a:hover {
    color: #67f8ffdb;
    transform: translateX(-5px);
  }
}
