.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home-logo {
  height: 300px;
  width: auto;
}

.coming-soon {
  font-size: 70px;
  font-weight: 700;
  color: #3a1d16;
  -webkit-text-stroke: 2px #fff;
  letter-spacing: 2px;
  animation: pulseText 3s ease-in-out infinite;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .home-logo {
    height: 280px;
  }

  .coming-soon {
    font-size: 70px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .home-logo {
    height: 280px;
  }

  .coming-soon {
    font-size: 75px;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .home-logo {
    height: 280px;
  }

  .coming-soon {
    font-size: 60px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #fff;
  }
}
